// ============================================================
//  @file        {{FILE}}
//  @category    {{CATEGORY}}
//  @brief       {{BRIEF}}
//  @complexity  {{COMPLEXITY}}
//  @author      {{AUTHOR}}
//  @created     {{DATE}}
//  @modified    {{DATE}}  by {{AUTHOR_NAME}}
//  @history
//    {{DATE}}  {{AUTHOR_NAME}}  初版
// ============================================================
#pragma once

#include <bits/stdc++.h>

// TODO: 實作內容

// usage:
//   範例：示範如何呼叫此 snippet
//   int main() {
//       // ...
//   }
